$bg-dark-primary = #DDDDDD
$bg-light-primary = #DDDDDD

$navbar-font-color = #dddddd
$navbar-bg-color = #535353
$footer-font-color = #dddddd
$footer-bg-color = #535353

$navbar-dark = #0077be
$navbar-light = #5cc2ff

$dark-primary = #353535
$light-primary = #DDDDDD

$font-dark-primary = #353535
$font-light-primary = #DDDDDD

$font-dark-secondary = #707070
$font-light-secondary = #DDDDDD

